{% extends 'core/base.html' %}

{% block title %} Servicios {% endblock %}

{% block content %}

    <main class="container py-3">
            <section class="container">
                <div class="parent"> 
                        
                        {% for service in services %}
                            <div class="row" style="width: 24rem;">
                                <img src="{{service.image.url}}" class="card-img-top img-mediana"  alt="...">
                                    <div class="card-body">
                                        <br>
                                            <h3 class="card-title text-center">{{service.title}}</h3>
                                            <p class="card-text">{{service.description}}</p>
                                    </div>
                            </div>    
                        {% endfor %} 
                                            
                </div>    
            </section>             
    </main>    
{% endblock %}    