{% extends 'core/base.html' %}

{% block title %} Proyectos {% endblock %}

{% block content %}

  <div class="container">
    <div class="card text-center">
        <div class="row">
          {% for project in projects  %}
          <div class="col-4">   
            <h5 class="card-header">{{project.title}}</h5>
            <div class="card-body">
              <p class="card-text">{{project.description|safe}}</p>
            

              <!-- Botón trigger modal -->
              <div class="col-md-4 offset-md-4 mt-5">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-video-proyectos-{{project.id}}">
                  <i class="bi bi-camera-video-fill"></i> Ver vídeo
                </button>
              </div>    

              <br/>
              
              <!-- Modal -->
              <div class="modal fade" id="modal-video-proyectos-{{project.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-3" id="exampleModalLabel">Reproducción de vídeo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <video src="{{project.filevideo.url}}" class="object-fit-contain" width="450" height="300" controls controlslist="nodownload"></video>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                          <i class="bi bi-door-open-fill"></i> Cerrar
                        </button>
                      </div>
                    </div>
                  </div>
              </div> 
            </div> 

          </div>  
          {% endfor%}  
        </div> 
 
    </div>
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          {% if projects.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}">&laquo;</a></li>
          {% endif %}
          
          {% for page_number in projects.paginator.page_range %}
             
              {% if projects.number == page_number %}
                  <li class="page-item active" aria-current="page"> 
                      <span class="page-link bg-success">     
                              {{ page_number }}   
                      </span>
                  </li>
              {% else %} 
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_number }}">
                          {{ page_number }}
                      </a>   
                  </li>
              {% endif %}
          
          {% endfor %}


          {% if projects.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}">&raquo;</a></li>
          {% endif %}
      </ul>    
    </nav>        

  </div>

  <script>
    document.querySelectorAll(".modal:has(video)").forEach(el => el.addEventListener('hidden.bs.modal', event => {
      const video = event.target.querySelector("video");
      if(video){
        video.pause();
        video.currentTime = 0;
      }
    }));
  </script>  
    
{% endblock %}    
