{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Hasa Inmobiliario</title>
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap5.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap-icons-1.11.3/font/bootstrap-icons.css' %}">
</head>
<body>
    <!-- Cabecera y menú -->
    <nav class="navbar navbar-expand-lg bg-success navbar-dark" >
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

          <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
                    </li>               
                    <li class="nav-item">
                        <a href="{% url 'nosotros' %}" class="nav-link">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'servicios' %}" class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'proyectos' %}" class="nav-link">Proyectos</a>
                  </li>
                </ul>
          </div>
        </div>
    </nav>
    
    <!-- Conetnido -->

    <div class="container">
        
        {% block content %}
                
        {% endblock %}    
        
    </div>    



    
    
<!--Bootstrap 5.3-->
<script src="{% static 'core/vendor/bootstrap5.3/js/bootstrap.bundle.js' %}"></script>    
<script src="{% static 'core/vendor/bootstrap5.3/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static 'core/vendor/bootstrap5.3/js/bootstrap.min.js' %}"></script>    
<script src="{% static 'core/vendor/bootstrap5.3/js/bootstrap.js' %}"></script> 


</body>
</html>