{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Hasa Inmobiliario</title>
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap5.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap-icons-1.11.3/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    
    <!-- Cabecera y menú -->
<!--     
    <nav class="navbar navbar-expand-lg bg-success navbar-dark py-lg-4">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

          <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-5 fw-bolder">
                        <a href="{% url 'inicio' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/' %}active{% endif %}">Inicio</a>
                    </li>               
                    <li class="nav-item px-lg-5 fw-bolder">
                        <a href="{% url 'nosotros' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/nosotros/' %}active{% endif %}">Nosotros</a>
                    </li>
                    <li class="nav-item px-lg-5 fw-bolder">
                        <a href="{% url 'servicios' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/servicios/' %}active{% endif %}">Servicios</a>
                    </li>
                    <li class="nav-item px-lg-5 fw-bolder" >
                      <a href="{% url 'proyectos' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/proyectos/' %}active{% endif %}">Proyectos</a>
                    </li>
                    <li class="nav-item px-lg-5 fw-bolder">
                        <a href="{% url 'contacto' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/contacto/' %}active{% endif %}">Contacto</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>
-->    
 

    <nav class="navbar navbar-expand-lg bg-success navbar-dark">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-5 fw-bolder">
                    <a href="{% url 'inicio' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/' %}active{% endif %}">Inicio</a>
                </li>               
                <li class="nav-item px-lg-5 fw-bolder">
                    <a href="{% url 'nosotros' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/nosotros/' %}active{% endif %}">Nosotros</a>
                </li>
                <li class="nav-item px-lg-5 fw-bolder">
                    <a href="{% url 'servicios' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/servicios/' %}active{% endif %}">Servicios</a>
                </li>
                <li class="nav-item px-lg-5 fw-bolder" >
                  <a href="{% url 'proyectos' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/proyectos/' %}active{% endif %}">Proyectos</a>
                </li>
                <li class="nav-item px-lg-5 fw-bolder">
                    <a href="{% url 'contacto' %}" class="nav-link text-uppercase text-expanded {% if request.path == '/contacto/' %}active{% endif %}">Contacto</a>
                </li>
            </ul>
            
          </div>
        </div>
      </nav>
    
    
    <!-- Contenido -->

    <div class="container">
        
        {% block content %}
                
        {% endblock %}    
        
    </div>    
   
    <!-- Pie de página-->
     
    <div id="footer">
        <footer class="footer bg-success text-center">
            <div class="container">
                    <br/> 
                    <h5 class="fw-bolder text-white">ENCUENTRANOS EN NUESTRAS REDES SOCIALES</h5>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <ul class="list-inline text-center">
                                    <li class="list-inline-item">
                                        {% if LINK_FACEBOOK %}
                                            <a href="{{LINK_FACEBOOK}}" class="text-white mx-3">
                                                <i class="bi bi-facebook fs-1"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                    <li class="list-inline-item">
                                        {% if LINK_WHATSAPP %}
                                            <a href="{{LINK_WHATSAPP}}" class="text-white mx-3">
                                                <i class="bi bi-whatsapp fs-1"></i>
                                            </a>
                                        {% endif %}  
                                    </li>
                                    <li class="list-inline-item">
                                        {% if LINK_INSTAGRAM %}
                                            <a href="{{LINK_INSTAGRAM}}" class="text-white mx-3">
                                                <i class="bi bi-instagram fs-1"></i>
                                            </a>
                                        {% endif %}      
                                    </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </footer> 
    </div> 

    
    
<!--Bootstrap 5.3-->
<script src="{% static 'core/vendor/bootstrap5.3/js/bootstrap.bundle.js' %}"></script>    
<script src="{% static 'core/vendor/bootstrap5.3/js/bootstrap.bundle.min.js' %}"></script>    
<script src="{% static 'core/vendor/bootstrap5.3/js/bootstrap.min.js' %}"></script>    
<script src="{% static 'core/vendor/bootstrap5.3/js/bootstrap.js' %}"></script> 


</body>
</html>