{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}


{% load static %}

{% block content %}

    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/inicio-gb.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Trabajamos para hacer</span>
                <span class="section-heading-lower">realidad tus Proyectos</span>
              </h2>
              <p class="mb-3">Nuestro compromiso es dedicarnos al desarrollo de tus proyectos mediante una óptima ejecución,<br> tenemos la experiencia garantizada
              </p>
              
            </div>
          </div>
    </div>    
      
{% endblock %}    