{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% load static %} 


{% block content %}

    <div class="carousel-inner">
        <div class="carousel-item active">
              <img src="static/core/img/inicio.jpg" class="d-block w-100" alt="">
              <div class="carousel-caption">
                  <h5 class="text-uppercase fs-1 fw-bold">Tu seguridad en nuestras manos.</h5>
                  <br>
                  <p class="fs-3 fw-bold">
                    Somos una empresa contratista que consolida<br>
                    la experiencia de varios Ingenieros de gran<br>
                    trayectoria.
                  </p>
                  <br><br><br><br>
                  <br><br><br><br><br>
                  <br><br><br><br><br>
                  <br><br><br><br>
                  <br><br><br><br>
              </div>

        </div>   
    </div>     
{% endblock %}    

   

 