{% extends 'core/base.html' %}

{% block title %} Nosotros {% endblock %}

{% block content %}
    <main class="container py-5"> 
        <section class="card card-body mt-5">
                <h1 class="display-3 text-center">¿Quienes somos ?</h1>
                <p>En HASA, nos especializamos en la ejecución de obras, mantenimiento y refacciones, ofreciendo soluciones eficientes y de calidad a precios accesibles. Trabajamos con responsabilidad y compromiso, asegurando el mejor servicio para cada proyecto. Nuestro equipo está preparado para atender las necesidades de nuestros clientes con experiencia, seriedad y un enfoque en la optimización de costos.</p>  

                <h1 class="display-3 text-center">Visión</h1>
                <p>Ser una empresa líder en el sector, reconocida por nuestra excelencia, innovación y compromiso con el desarrollo de infraestructura. Aspiramos a expandir nuestros servicios, fortaleciendo la confianza de nuestros clientes y contribuyendo al crecimiento del sector.</p>

                <h1 class="display-3 text-center">Misión</h1>
                <p>Brindar soluciones eficientes en ejecución de obras, mantenimiento y refacciones, garantizando calidad, cumplimiento y satisfacción para nuestros clientes. Nos enfocamos en ofrecer un servicio confiable, adaptado a cada necesidad, con un equipo comprometido y capacitado.</p>

        </section>    
    </main>    
{% endblock %}    