{% extends 'core/base.html' %}

{% block title %} Nosotros {% endblock %}

{% block content %}
    <main class="container py-5"> 
        <section class="card card-body mt-5">
                <h1 class="display-3 text-center">¿Quienes somos ?</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quidem incidunt in impedit a, hic dolores ipsum soluta accusantium voluptate, nisi, aspernatur reprehenderit corporis. Dolores eaque distinctio velit, sed, molestiae omnis possimus atque quo ipsam unde a reiciendis neque esse soluta pariatur fuga quisquam ut autem voluptatibus? Doloribus, distinctio sunt.</p>  

                <h1 class="display-3 text-center">Visión</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium similique amet accusamus rem odit quam! Exercitationem doloremque aperiam vitae non est repellendus dolores accusamus, modi rem iste id delectus totam?</p>

                <h1 class="display-3 text-center">Misión</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium similique amet accusamus rem odit quam! Exercitationem doloremque aperiam vitae non est repellendus dolores accusamus, modi rem iste id delectus totam?</p>

        </section>    
    </main>    
{% endblock %}    