.imagen-inicio {
    background-image: url('/static/core/img/inicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vw;
    width: 100vw;
}


.texto_encima {
    position: absolute;
    color: white;
}

.grid_servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.img-mediana{
    width: 20vw;
    height: 20vw;
    }

    
body {
    position: relative; 
    min-height: 100vh;
    padding-bottom: 110px;
}

#footer{
    height: 110px;
    position: absolute;
    bottom: 0;
    width: 100%;
   
}
