.imagen-inicio {
    background-image: url('/static/core/img/inicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vw;
    width: 100vw;
}


.texto_encima {
    position: absolute;
    color: white;
}


.img-mediana{
    width: 20vw;
    height: 20vw;
    }
   
.contenedor-footer {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
